$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$dark-color: #343a40;
$light-color: #f8f9fa;
// $dark-color: #3d3942;//390075 1b0137 393440
$primary-font: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;


@for $i from 1 through 5 {
  .display-#{$i} {
    font-size: #{$i+0.5}rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .m-#{$i}{
    margin: #{$i}rem;
  }

  .my-#{$i}{
    margin: #{$i}rem 0;
  }
}