@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
  }
  .projects section .github-projects{
    flex-wrap: unset;
    flex-direction: column;
  }
  main {
    max-width: 100%;
  }
  .profile .profile-description{
    justify-content: center;
  }
  .about-me section{
    max-width: 80%;
  }
  .projects{
    max-width: 90%;
  }
  nav{
    width: 100%;
  }
}