.center {
  margin: auto;
  width: 50%;
}

.icon_container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: $light-color;
  margin: 6px 0px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-9px, -6px);
}

.badge {
  border-radius: 4px;
  padding: 1px 8px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  margin: 2px;
}

.badge-primary {
  @extend .badge;
  background-color: $primary-color;
  color: #fff;
}

.badge-secondary {
  @extend .badge;
  background-color: $secondary-color;
  color: #fff;
}

.badge-success {
  @extend .badge;
  background-color: $success-color;
  color: #fff;
}

.badge-info {
  @extend .badge;
  background-color: $info-color;
  color: #fff;
}

.badge-warning {
  @extend .badge;
  background-color: $warning-color;
  color: #212529;
}

.badge-danger {
  @extend .badge;
  background-color: $danger-color;
  color: #fff;
}

.badge-dark {
  @extend .badge;
  background-color: $dark-color;
  color: #fff;
}
