@import 'config';
@import 'utilities';

*{
  box-sizing: border-box;
  font-family: $primary-font;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-wrapper img{
  margin-top: -5%;
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in{
  from { 
    transform: rotate(0deg);
    width: 50px;
  }
  to { 
    transform: rotate(360deg);
    width: 200px;
  }
}

/* Navbar */
nav {
  overflow: hidden;
  background-color: $dark-color;
  line-height: 60px;
  height: 60px;
  position: fixed;
  top: 8px;
  transition: top 0.3s;
  width: 100%;
  
  a:first-child {
    color: $light-color;
    font-size: 20px;
  }
  a{
    color: $light-color;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
    font-size: 16px;
    font-family: $secondary-font;

  }
  a:hover {
    color: darken($light-color,20%);
    cursor: pointer;
  }
  .icon {
    display: none;
  }
}

.progress-container {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 8px;
  background: $light-color;

  div {
    height: 8px;
    background:$dark-color;
    width: 0%;
  }
}

.header{
  margin-top: 60px;
  text-align: center;
  color: $dark-color;
  padding: 60px;

  .display-1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  .display-2 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

li{
  line-height: 25px;
  margin-left: 30px;
}

.about-me {
  display: flex;
  flex-direction: row;
  background-color: $dark-color;

  .about-me-profile {
    flex: 50%;
    padding: 20px;
    color: $dark-color;

    div{
      border-radius: 5px; /* 5px rounded corners */
      background-color: $light-color;
      text-align: center;
      padding: 20px 0px;  
      img {
        border-radius: 10px;
        width:50%
      }
      section{
        padding: 20px;
        .name{
          font-size: 24px;
          font-weight: 600;
          margin: 15px;
        }
      }
    }
  }
  
  .about-me-description {
    flex: 50%;
    color: $light-color;
    padding: 20px 30px;
    header{
      margin-top: 0;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    a{
      color: $light-color;
    }
  }
}

/* Skills / Education */

.skills-education{
  margin: 50px 20px;
  .tab {
    overflow: hidden;   
    div {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      border-bottom: 1px solid #ccc;
      width: 50%;
      text-align: center;
      border-radius: 2px;
      color: $dark-color;
      font-size: 20px; 
      font-weight: 500;
    }
    div:hover {
      padding-top: 13px;
      border-top: 1px solid rgb(240, 239, 239);
      border-left: 1px solid rgb(240, 239, 239);
      border-right: 1px solid rgb(240, 239, 239);
    }

    /* Create an active/current tablink class */
    div.active {
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: none;
      padding-top: 13px;
    }
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 40px 30px;
    color: $dark-color;
    .heading{
      font-weight: 500;
      font-size: 18px;
      margin: 5px 0px
    }
  }
  #skills{
    li{
      font-size: 18px;
      font-weight: 500;
    }
    dd{
      margin: 5px 0px;
      margin-left: 30px;
    }
  }
}

.projects{
  background-color: $dark-color;
  padding-bottom: 30px;
  margin-bottom: 0;
  header{
    text-align: center;
    color: $light-color;
    padding: 10px 0px;
    font-size: 30px;
    font-weight: 600;
  }
  .card-project {
    border-radius: 5px; /* 5px rounded corners */
    background-color: $light-color;
    margin: 10px 0px;
    border-radius: 8px;
    color: $dark-color;
    .card-header{
      padding: 20px;
      font-size: 24px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom: 1px solid #e6eaec;
      text-align: center;
      a{
        text-decoration: none;
        color: $dark-color;
      }
    }   
    .card-body{
      padding: 10px 20px;  
      p{
        line-height: 30px;  
      }

    }
    .tags{
      padding: 10px 20px;
      border-top: 1px solid #e6eaec;
    }
  }
  #socials{
    text-align: center;
    color: $light-color;
    margin-top: 30px;
    a{
      color: $light-color;
    }
  }
}

.socials{
  padding: 0px 30px 30px;
  header{
    margin-top: 0;
    text-align: center;
    padding:20px;
    font-size: 30px;
    font-weight: 600;
  }
  .card-social{
    border-radius: 8px;
    margin-top: 10px;
    .card-body-social{
      overflow: auto;
      padding: 25px;
      align-items: center;
    }
    i{
      font-size:48px;
      color: $light-color;
    }
    a{
      color: $light-color;
      margin-top: 15px;
    }
  }
  .twitter{
    background-color: $primary-color;
  }
  .youtube{
    background-color: $danger-color;
  }
  .github{
    background-color: $dark-color;
  }
}

footer{
  text-align: center;
  background-color: $dark-color;
  color: #6c757d;
  padding: 20px 0px;
}
















@import 'media';