@import 'config';
@import 'utilities';

*{
  box-sizing: border-box;
  font-family: $primary-font;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-wrapper img{
  margin-top: -5%;
  animation-name: fade-in;
  animation-duration: 3s;
}

@keyframes fade-in{
  from { 
    opacity: 0;
    transform: rotate(0deg);
    max-width: 50px;
  }
  to { 
    opacity: 1;
    transform: rotate(1080deg);
    max-width: 200px;
  }
}

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

main {
  max-width: 70%;
  margin: auto;
}

/* Navbar */
nav {
  transition: top 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  display: none;
  background-color: $light-color;
  .topnav {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    a {
      float: left;
      display: block;
      color: $dark-color;
      background-color: $light-color;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 15px;
      transition: background-color 0.3s;
    }
    a:hover {
      background-color: darken($light-color,5%);
      color: darken($dark-color,20%);
      cursor: pointer;
    }
    .icon {
      display: none;
    }
  }
}

/* icon */

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: $dark-color;
  margin: 6px 0px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 8px);
  transform: rotate(-45deg) translate(-7px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -8px);
  transform: rotate(45deg) translate(-7px, -8px);
}

li{
  line-height: 25px;
  margin-left: 20px;
}

.profile {
  margin: 80px 0 10px;
  display: flex;
  flex-direction: row;
  .profile-image {
    flex: 50%; 
    text-align: center;
    img{
      width: 60%;
    }
  }
  
  .profile-description {
    flex: 50%;
    color: $dark-color;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    section{
      text-align: center;
      font-size: 15px;
    }
  }
}

.about-me{
  padding: 20px 5px;
  color: $dark-color;
  header{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    .iconify{
      color: $secondary-color;
      font-size: 35px;
      margin-left: 10px;
    }
  }
  section{
    display: flex;
    margin-top: 40px;
    div{
      transition: background-color 0.5s;
      max-width: 33.33%;
      background-color: $light-color;
      margin: 10px;
      border-radius: 5px;
      padding: 20px;
      header{
        font-weight: 500;
        text-align: center;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        .iconify{
          color: $secondary-color;
          margin-right: 10px;
          font-size: 25px;
        }
      }
      section{
        padding: 0 20px 20px;
        text-align: center;
        line-height: 2;
        font-size: 15px;
      }
    }
    div:hover{
      cursor: pointer;
      background-color: darken($light-color,5%);
    }
  }
}

.college{
  padding: 20px 5px;
  color: $dark-color;
  header{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    .iconify{
      color: $secondary-color;
      font-size: 35px;
      margin-left: 10px;
    }
  }
  > section{
    padding: 20px;
    margin: 10px;
    background-color: $light-color;
    margin-top: 40px;
    article{
      margin: 40px 0;
      header{
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px 0;
        font-size: 17px;
        .iconify{
          color: $secondary-color;
          font-size: 25px;
          margin-left: 10px;
        }
      }
      > section{
        display: flex;
        flex-wrap: wrap;
        section{
          max-width: 50%;
          flex: 50%;
          margin: auto;
          .individual-project{
            vertical-align: middle;
            margin: 10px 10px 0;
            transition: background-color 0.5s;
            line-height: 2;
            text-align: justify;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            font-size: 15px;
            p{
              font-weight: 500;
              border-radius: 5px;
              text-align: center;
              font-size: 17px;
              margin-bottom: 15px;
              padding: 10px;
            }
            a{
              color: $dark-color;
            }
            > div{
              margin-top: 15px;
              display: flex;
              align-items: center;
              .iconify{
                margin-left: 10px;
                font-size: 25px;
              }
            } 
          }
          .individual-project:hover{
            cursor: pointer;
            background-color: darken($light-color,5%);
          }
          .competition{
            vertical-align: middle;
            margin: 10px 10px 0;
            transition: background-color 0.5s;
            line-height: 2;
            text-align: justify;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            font-size: 15px;
            text-align: center;
            img{
              max-width: 90%;
              margin: 10px;
              border-radius: 10px;
            }
            div{
              margin-top: 10px;
              font-size: 14px;   
            }
          }
          .competition:hover{
            cursor: pointer;
            background-color: darken($light-color,5%);
          }
        }
      }
    }
  }
}

.projects{
  margin: 10px;
  color: $dark-color;
  header{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    .iconify{
      color: $secondary-color;
      font-size: 35px;
      margin-left: 10px;
    }
  }
  > section{
    padding: 20px;
    margin: 10px;
    background-color: $light-color;
    margin-top: 40px;
    .github-projects{
      display: flex;
      flex-wrap: wrap;
      > section{
        max-width: 50%;
        flex: 50%;
        margin: auto;
        .card-project {
          vertical-align: middle;
          margin: 10px 10px 0;
          transition: background-color 0.5s;
          line-height: 2;
          text-align: justify;
          background-color: white;
          padding: 10px;
          border-radius: 5px;
          font-size: 15px;
          a{
            color: $dark-color;
          }
          .card-header{
            font-weight: 500;
            border-bottom: 1px solid #e6eaec;
            text-align: center;
            padding: 10px 0;
          }   
          .card-body{
            overflow: hidden;
            padding: 15px;
            .description{
              text-align: center;
            }
            div{
              margin-top: 20px;
              text-align: center;
            }
          }
        }
        .card-project:hover{
          cursor: pointer;
          background-color: darken($light-color,5%);
        }
      }
    }
    .github-link{
      text-align: center;
      color: $dark-color;
      margin-top: 50px;
      a{
        color: $dark-color;
      }
    }
  }
}

.services{
  padding: 20px 5px;
  color: $dark-color;
  line-height: 2;
  header{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    .iconify{
      color: $secondary-color;
      font-size: 35px;
      margin-left: 10px;
    }
  }
  > section{
    padding: 20px;
    background-color: $light-color;
    margin: 10px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    > section{
      max-width: 50%;
      flex: 50%;
      margin: auto;
      > div{
        transition: background-color 0.5s;
        vertical-align: middle;
        background-color: white;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        header{
          font-weight: 500;
          text-align: center;
          font-size: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
          .iconify{
            color: $secondary-color;
            margin-right: 10px;
            font-size: 25px;
          }
        }
        section{
          padding: 0 20px 20px;
          text-align: justify;
          line-height: 2;
          font-size: 15px;
        }
      }
      div:hover{
        cursor: pointer;
        background-color: darken($light-color,5%);
      }
    }
    p{
      text-align: justify;
      margin: 30px;
      a{
        color: $dark-color;
      }
    }
  }
}


footer{
  text-align: center;
  color: $dark-color;
  padding: 20px 0px;
  margin-top: 10px;
  div{
    a{
      font-size:30px;
      text-decoration: none;
      color: $dark-color;
    }
  }
  p{
    margin: 10px 0;
  }
}


@import 'media';