@import 'config';
@import 'utilities';

*{
  box-sizing: border-box;
  font-family: $primary-font;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-wrapper img{
  margin-top: -5%;
  animation-name: fade-in;
  animation-duration: 3s;
}

@keyframes fade-in{
  from { 
    opacity: 0;
    transform: rotate(0deg);
    max-width: 50px;
  }
  to { 
    opacity: 1;
    transform: rotate(1080deg);
    max-width: 200px;
  }
}

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

main {
  max-width: 80%;
  margin: auto;
}

/* Navbar */
nav {
  overflow: hidden;
  line-height: 60px;
  height: 60px;
  text-align: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $light-color;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 80%;

  a:first-child {
    color: $dark-color;
  }
  a{
    color: $dark-color;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
  }
  a:hover {
    color: darken($dark-color,20%);
    cursor: pointer;
  }
  .icon {
    display: none;
  }
}

.header{
  margin-top: 60px;
  overflow: hidden;
  text-align: center;
  color: $dark-color;
  padding: 30px;
}

li{
  line-height: 25px;
  margin-left: 20px;
}

.profile {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  .profile-image {
    flex: 50%; 
    text-align: center;
    img{
      width: 60%;
    }
  }
  
  .profile-description {
    flex: 50%;
    color: $dark-color;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    section{
      text-align: center;
    }
  }
}

.about-me{
  header{
    text-align: center;
  }
  section{
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: justify;
  }
  ul li{
    margin: 10px 0;
    a{
      color: $dark-color;
    }
  }
}

.projects{
  max-width: 80%;
  margin: auto;
  header{
    text-align: center;
    color: $dark-color;
  }
  section{
    .github-projects{
      display: flex;
      flex-wrap: wrap;
      .card-project {
        flex: 40%;
        margin: 20px 5px;
        border: 2px solid #e6eaec;
        border-radius: 5px;
        color: $dark-color;
        a{
          color: $dark-color;
        }
        .card-header{
          font-size: 18px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom: 1px solid #e6eaec;
          text-align: center;
          padding: 10px 0;
        }   
        .card-body{
          overflow: hidden;
          padding: 15px;
          p{
            line-height: 30px;
          }
          .description{
            text-align: center;
          }
          .source-code{
            margin: 20px 0 0 0;
          }
          div{
            text-align: center;
          }
        }
      }
    }
    .github-link{
      text-align: center;
      color: $dark-color;
      margin-top: 10px;
      a{
        color: $dark-color;
      }
    }
  }
}

footer{
  text-align: center;
  color: $dark-color;
  padding: 20px 0px;
  margin-top: 10px;
  div{
    a{
      font-size:30px;
      text-decoration: none;
      color: $dark-color;
    }
  }
}
















@import 'media';