@import "tailwindcss";

@utility bg-jigsaw {
  background-color: #ffffff;
  background-image: url("/images/backgrounds/jigsaw.svg");
}

@utility bg-topography {
  background-color: #ffffff;
  background-image: url("/images/backgrounds/topography.svg");
}

@utility bg-food {
  background-color: #ffffff;
  background-image: url("/images/backgrounds/food.svg");
}

@utility bg-shapes {
  background-color: #ffffff;
  background-image: url("/images/backgrounds/shapes.svg");
}

@utility bg-temple {
  background-color: #ffffff;
  background-image: url("/images/backgrounds/temple.svg");
}

@utility bg-wiggle {
  background-color: #ffffff;
  background-image: url("/images/backgrounds/wiggle.svg");
}

@utility bg-circuit {
  background-color: #ffffff;
  background-image: url("/images/backgrounds/circuit.svg");
}
